doctype html
html
  head
    title #{title}
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='css/normalize.css', rel='stylesheet')
    link(href='css/bulma.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    script(src='https://static.addtoany.com/menu/page.js', async)
  body
    nav.nav.has-shadow
      .container
        div.nav-left
          a.nav-item(href='/')
            img(src='./img/follow-church-g.png')
        span.nav-toggle(onclick="document.getElementById('nav-menu').classList.toggle('is-active');")
          span
          span
          span
        .nav-right.nav-menu
          a.nav-item.is-tab(href='#') Log In
          a.nav-item.is-tab.is-active(href='#') Create Account
    block content
