extends _head

block content
    section.hero.is-small.has-text-centered.is-primary.is-bold.is-hidden-mobile.mb40
      .hero-body
        .container
          h3.title Find or edit contacts
    .container
      .columns
        .column.is-one-quarter 
          .box
            .field
              p.control.has-icons-right
                a.button.is-primary.is-fullwidth.is-small.mb10(href='#new') Create New Contact
                span.icon.is-right.is-small
                  i.fa.fa-plus(style='color:white;')
            .field
              p.control.has-icons-right
                input.input(type='text', placeholder='Search Contacts')
                span.icon.is-right
                  i.fa.fa-search
        .column.is-three-quarters
          table.table.is-striped
            thead
              tr
                th
                  abbr(title="First Name") First Name
                th
                  abbr(title="Last Name") Last Name
                th
                  abbr(title="Zip Code") Zip Code
                th 
              tr
                td El
                td Bucko
                td 87557
                td
                  a.button.is-primary.is-small.is-fullwidth(href='#') Edit
              tr
                td Queen
                td Eileen
                td 87557
                td
                  a.button.is-primary.is-small.is-fullwidth(href='#') Edit
              tr
                td Elissa
                td Montoya
                td 87557
                td
                  a.button.is-primary.is-small.is-fullwidth(href='#') Edit
              tr
                td Esther
                td Montoya
                td 87557
                td
                  a.button.is-primary.is-small.is-fullwidth(href='#') Edit
              tr
                td Anthony
                td Montoya
                td 87557
                td
                  a.button.is-primary.is-small.is-fullwidth(href='#') Edit
              tr
                td Elissa
                td Montoya
                td 87557
                td
                  a.button.is-primary.is-small.is-fullwidth(href='#') Edit
              tr
                td Esther
                td Montoya
                td 87557
                td
                  a.button.is-primary.is-small.is-fullwidth(href='#') Edit
              tr
                td Anthony
                td Montoya
                td 87557
                td
                  a.button.is-primary.is-small.is-fullwidth(href='#') Edit
          .block
            a.button.is-primary.is-small.mr10(href='#', disabled) Previous
            a.button.is-primary.is-small Next
