extends _head

block content
      section.hero.is-small.has-text-centered.is-primary.is-bold.mb40
        .hero-body
          .container
            h3.title(style='margin-bottom:5px;') Estevan Montoya
            p.mb10
              | (000) 000-0000
              br
              | PO Box 137
              br
              | Ranchos de Taos, NM 87557
            a.button.is-warning.mr10.is-small Edit
            a.button.is-danger.is-inverted.is-small Delete
      .container
        .columns
          .column
            .box
          .column.is-one-third
            .box
