extends _head

block content
    section.hero.is-large.has-text-centered.is-primary.home
      .hero-body
        .container
          h1.title Don't let another visitor or new convert "fall through the cracks"
          h2.subtitle A web application to keep track of new converts and contacts.
          a.button.is-primary(href='#more') Learn More
    section.section.has-text-centered.padding150tb#more
      h2.title We are building a website for churches to keep track of new converts and contacts. Track spiritual progress and notes from visits, calls, letters, social media converstations, etc.
      img(src='img/progress.png')
    section.hero.is-large.is-primary.is-bold.padding150tb
      .container.has-text-centered
        h2.w600 Join the newsletter to be notified as we make progress in this new church software.
    script(src='js/toggle.js')
