extends _head

block content
      section.hero.is-small.has-text-centered.is-primary.is-bold.mb40
        .hero-body
          .container
            h3.title New Contact
      .container
        .column.is-half.is-offset-one-quarter
          .box
            p First Name
