.home {
  background-image: url('../img/home-01.jpg');
}

.padding150tb {
  padding: 150px 0px;
}

.w600 {
  font-weight: 600;
  font-size: 3vw;
}

.p40 {
  padding: 40px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb40 {
  margin-bottom: 40px;
}

.mr10 {
  margin-right: 10px;
}

.login {
  padding:40px 10px;
  margin-top:20px;
}

.box, .table {
  background-color: #f9f9f9;
}
